
<!--

.grey 
{
	BACKGROUND: #ecedf4
}

.block_a 
{
	BORDER-RIGHT: #9b9b9b 1px solid; 
	BORDER-TOP: #9b9b9b 1px solid; 
	BORDER-BOTTOM: #9b9b9b 1px solid; 
	BORDER-LEFT: #9b9b9b 1px solid; 
	PADDING: 1px 1px 1px 1px; 
	MARGIN: 1px 1px 1px 1px; 
	FLOAT: right; 
	WIDTH: 99%%;
}

.block_b 
{
	BORDER-RIGHT: #9b9b9b 1px solid; 
	BORDER-TOP: #9b9b9b 1px solid; 
	BORDER-LEFT: #9b9b9b 1px solid; 
	BORDER-BOTTOM: #9b9b9b 1px solid; 
	PADDING: 2px 1px 2px 1px; 
	MARGIN: 1px 1px 2px 0.5em; 
	FLOAT: right; 
	WIDTH: 96%%;
}
	
.block_d 
{	
	BORDER-RIGHT: #9b9b9b 1px solid; 
	BORDER-TOP: #9b9b9b 1px solid; 
	BORDER-LEFT: #9b9b9b 1px solid; 
	BORDER-BOTTOM: #9b9b9b 1px solid; 
	PADDING: 2px 1px 2px  1px; 
	MARGIN: 1px 1px 1px 1px; 
	FLOAT: left; WIDTH: 100%%;
	}

.block_c 
{
	BORDER-BOTTOM: #9b9b9b 1px solid; 
	MARGIN: 0.5em 0 1px 1px; 
	FLOAT: left; WIDTH: 100%%;
}


H6 
{
	PADDING-RIGHT: 0.3em; 
	MARGIN-TOP: 0px; 
	PADDING-LEFT: 0.3em; 
	FONT-SIZE: 1em; 
	BACKGROUND: #9b9b9b; 
	MARGIN-BOTTOM: 0.3em; 
	PADDING-BOTTOM: 0.3em; 
	COLOR: #fff; PADDING-TOP: 0.3em
}

.selected 
{
	BACKGROUND-COLOR: #9b9b9b
}
body
{
	margin:10; 
	padding:10;
	color: blue;
}




div#intro0
{

}


div#id_Name
{
	
}

div#id_Points
{
	
}

div#id_Distance
{
	
}

div#id_AllTime
{
	
}
div#id_MoveTime
{
	
}
div#id_StopTime
{
	
}
div#id_AvrSpeedAll
{
	
}
div#id_AvrSpeedMove
{
	
}
div#id_MaxSpeed
{
	
}
div#id_MaxAlt
{
	
}
div#id_MinAlt
{
	
}

div#id_Zone
{
	
}

div#intro1
{
	
}
div#chart1
{
	
}
div#intro2
{
	
}
div#chart2
{
	
}
div#intro3
{
	
}
div#chart3
{
	
}
div#intro4
{
	
}
div#chart4
{
	
}

div#intro5
{
	
}

div#chart5
{
	
}

div#intro6
{
	
}
div#chart6
{
	
}

div#intro7
{
	
}
div#chart7
{
	
}

div#intro8
{
	
}
div#chart8
{
	
}

div#intro9
{
	
}
div#chart9
{
	
}





-->